.venv/
venv/
env/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.cache/
dist/
build/
*.egg-info/
.DS_Store
.idea/
.vscode/
.fleet/
.env
.env.*
alembic/versions/*.pyc

# JetBrains IDEs
*.iml
.ipr
.iws
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/httpRequests/
.idea/**/inspectionProfiles/
.idea/**/sonarlint/
.idea/**/sshConfigs.xml
.idea/**/vcs.xml
.idea/**/modules.xml
.idea/**/docker/
.idea/**/runConfigurations/
.idea/**/indexLayout.xml
.idea/**/contentModel.xml
.idea/**/caches/
.idea/**/artifacts/
.idea/**/scopes/
.idea/**/workspace/

# MacOS
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.orig




